html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f1f4f7;
    margin-bottom: 60px;
}


.header {
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,0.1);
    padding: 10px 0;
    position: sticky;
    top: 0;
}

/* --- Nav Section --- */
.custom-shadow {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.nav-space-between {
    justify-content: space-between;
    height: 4em;
}

.add-book {
    color: #0026ff;
}

.ml-20 {
    margin-left: 20px;
}

.login-btn {
    background: #111827;
    color: #fff;
    border: none;
    border-radius: 35px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

    .login-btn:hover {
        background: #061953;
    }

/* --- Hero Section --- */
.hero {
    background: linear-gradient(330deg, #0026ff, #0076ff);
    color: white;
    text-align: center;
    padding: 50px 20px;
    border-radius: 12px;
    width: 90%;
    margin: 40px auto;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.1rem;
    opacity: 0.9;
}

.hero-btn {
    background: white;
    color: #0026ff;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
}

/* --- Categories --- */
.categories {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

    .categories h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #111827;
        margin-bottom: 25px;
    }

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.category-card {
    background: #f5f7ff;
    border-radius: 10px;
    width: 150px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    transition: 0.3s;
}

    .category-card h6 {
        font-size: 1.25rem;
        padding-top: 10px;
    }

    .category-card p {
        font-size: 1rem;
        color: #7d9ad7;
    }

    .category-card:hover {
        transform: translateY(-4px);
    }

    .category-card img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto 10px;
    }


/* --- Books --- */
.latest-books {
    width: 90%;
    margin: 50px auto;
    margin-bottom: 150px;
    text-align: center;
}

    .latest-books h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #111827;
        margin-bottom: 25px;
    }

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.book-card {
    background: white;
    width: 160px;
    border-radius: 12px;
    box-shadow: 2px 10px 14px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: 0.3s;
}

    .book-card:hover {
        transform: translateY(-5px);
    }

    .book-card img {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    .book-card h3 {
        font-size: 1.3rem;
        padding: 15px;
        margin: 0;
    }

    .book-card h4 {
        font-size: 1rem;
        font-weight: lighter;
        color: #6d6f76;
        padding: 2px
    }


    .book-card .price {
        font-size: 1.15rem;
        color: red;
        font-weight: bold;
        margin-bottom: 15px;
    }

/* --- Footer Section --- */
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #111827;
    color: #eee;
    text-align: center;
    padding: 0px;
    font-size: 1rem;
    margin-top: 0px;
}

.footer-flex h6 {
    color: #c6c6c6;
}

.footer-flex p {
    padding-bottom: 0px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto 0px;
}


/* --- Login --- */
.btn-login {
    background: linear-gradient(90deg, #1f47e8, #121826);
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

    .btn-login:hover {
        opacity: 0.9;
    }

.card-login {
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
    background: linear-gradient(45deg, #fff, #e6ebfd);
}

input::placeholder {
    color: #aaa;
}
